In [88]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data = np.array([[21, 184], [19, 168], [36, 178], [34, 175], [63, 159], [25, 165]])
# df is an abbrevation of DataFrame
df = pd.DataFrame(data=data, columns=["age", "height (cm)"])
df["sex"] = ["M", "F", "M", "F", "F", "M"]
df["height (m)"] = df["height (cm)"] / 100
df
# In the df DataFrame, show me only the rows in which the "sex" column is "F"
df[df["sex"] == "F"]
# In the df DataFrame, show me only the rows in which the "sex" column is "M" AND (&) the "age" is below 30
df[(df["sex"] == "M") & (df["age"] < 30)]
# In the df DataFrame, show me only the rows in which the "sex" column is "F" OR (|) in which (the "sex" column is "M" AND (&) the age is below 30)
df[(df["sex"] == "F") | ((df["sex"] == "M") & (df["age"] < 30))]
# Sort values by age in ascending order
df.sort_values(by="age")
# Sort values first by sex, then by age in descending order
df.sort_values(by=["sex", "age"], ascending=False)
df.groupby("sex")["height (cm)"].mean()
# index=False means we don't want to add our index to the CSV file
df.to_csv("demo_df.csv", index=False)
titanic = pd.read_csv("data/titanic.csv")
titanic.head(5)
titanic["who"].unique()
titanic["embarked"].unique()
titanic["embark_town"].unique()
titanic["alive"].unique()
titanic["deck"].unique()
titanic[(titanic["survived"] == 1) & (titanic["alive"] == "yes")]
titanic[(titanic["survived"] == 1) & (titanic["alive"] == "no")]
((titanic["alive"] == "yes") == (titanic["survived"] == 1)).all()
((titanic["alive"] == "no") == (titanic["survived"] == 0)).all()
keep_cols = ["survived", "pclass", "sex", "age", "sibsp", "parch", "fare", "embark_town", "deck", "who", "alone"]
titanic = titanic[keep_cols].copy()
# Let's make a copy of the dataframe called `titanic_ml` to prevent destructive changes
titanic_ml = titanic.copy()
# Find which columns have missing values
titanic_ml.isna().any()
# Alternative approach: check non-null count, which also informs us of how many values are NaN
titanic_ml = pd.get_dummies(titanic_ml)
titanic_ml
titanic_ml.info()
X = titanic_ml.drop(columns="survived").astype(float).to_numpy()
y = titanic_ml["survived"].to_numpy()
X[0:3]
X.shape
y[0:3]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   survived                 891 non-null    int64
 1   pclass                   891 non-null    int64
 2   age                      714 non-null    float64
 3   sibsp                    891 non-null    int64
 4   parch                    891 non-null    int64
 5   fare                     891 non-null    float64
 6   alone                    891 non-null    bool
 7   sex_female               891 non-null    uint8
 8   sex_male                 891 non-null    uint8
 9   embark_town_Cherbourg    891 non-null    uint8
 10  embark_town_Queenstown   891 non-null    uint8
 11  embark_town_Southampton  891 non-null    uint8
 12  deck_A                   891 non-null    uint8
 13  deck_B                   891 non-null    uint8
 14  deck_C                   891 non-null    uint8
 15  deck_D                   891 non-null    uint8
 16  deck_E                   891 non-null    uint8
 17  deck_F                   891 non-null    uint8
 18  deck_G                   891 non-null    uint8
 19  who_child                891 non-null    uint8
 20  who_man                  891 non-null    uint8
 21  who_woman                891 non-null    uint8
dtypes: bool(1), float64(2), int64(4), uint8(15)
memory usage: 55.8 KB

array([0, 1, 1], dtype=int64)